@import '../../_global';

.container {
	margin-right: 2%;
	margin-bottom: 2%;
	flex: 0 0 48%
}

.content {
	display: flex;
	justify-content: space-around;
	padding: 10px;
}

.content .nameContainer {
	flex: 0 0 70%
}

.content .actionsContaier {
	flex: 0 0 30%
}

.nameTextField {
	max-width: 180px;
}