@import "_global";

body {
  font-family: $font-stack;
  color: $main-font-color;
  margin: 0;
}

.mainWrapper {
  min-height: 800px;
  margin: 0;
	display: flex;
}

.mainWrapper article {
  @extend .standardPadding;
	flex: 1 1 auto;
	order: 2;
}

.mainWrapper nav {
	max-width: 160px;
	flex: 1 1 auto;
	order: 1;
}

.mainMenuContainer {
	height: 100%;
	width: 160px;
}

.profileCardContainer {
  @extend .bringToFront;
	float: right;
	position: relative;
	width: 30%;
	min-width: 300px;
	max-width: 460px;
	padding-right: 5px;
}